.foodap_tst-card {
  border: none;
  font-family: "Montserrat", sans-serif;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: #e8e8e8;
  max-width: 100%;
  min-height: 100%;
}

.foodap_tst-header {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.foodap_tst-contents {
  font-size: 12px;
  color: #464444;
  font-style: normal;
  line-height: 100%;
  font-weight: 400;
  margin-right: 20px;
}
